@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #ffffff;
  padding: 1em;
  position: relative;

  .share {
    position: absolute;
    top: 1em; left: 1em;
    cursor: pointer;
    width: 42px; height: 32px;
    background-image: url('img/share.svg');
    opacity: 0.5;
    transition: all 0.33s ease-in;

    &:hover {
      opacity: 1;
      transition: all 0.33s ease-in;
    }
  }

  .close {
    @extend .share;
    width: 32px; height: 32px;
    background-image: url('img/x.svg');
    opacity: 1;
  }

  .share-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(47, 52, 64, 0.9);
    display: none;
  }

  input.copy {
    @include vertical-align;
    width: 60%;
    color: #333;
    padding: 0.5em 0.5em;
    outline: none;
    font-size: 2em;
    text-align: left;
    border: 0;
  }

  .message {
    @include vertical-align;
    
    h2 {
      font-size: 3em;
      font-weight: bold;
      max-width: 720px;
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.search-box {
  width: 100%;
  max-width: 600px;
  height: 110px;
  border: 5px solid #0F98EC;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
}
.search-box img {
  margin: 22px 20px 0 30px;
  float: left;
}

.blink {
  margin-top: 14px;
  background-color: #0F98EC;
  height: 68px;
  width: 6px;
  -webkit-animation:blink 1s step-start infinite;
  -moz-animation:blink 1s step-start infinite;
  animation:blink 1s step-start infinite;
  float: left;
}
@-moz-keyframes blink { 50% {opacity: 1;} 100% { opacity: 0; } }
@-webkit-keyframes blink { 50% {opacity: 1;} 100% { opacity: 0; } }
@keyframes blink { 50% {opacity: 1;} 100% { opacity: 0; } }

#s-toggle.off {background: #DD4B39 !important;}

.switch-outer {
  height: 180px;
  width: 280px;
  background-color: rgba(47, 52, 64, 0.2);
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.switch-inner {
  background-color: #fff;
  height: 160px;
  width: 160px;
  border-radius: 80px;
  position: absolute;
  right: 10px;
  transition: all 0.1s ease-in;
}

.off .switch-inner {
  right: 110px;
}
 
.picker {
  width: 220px; height: 220px;
  margin: 0 auto;
  background: url('img/picker.png') no-repeat center center;
}

.brightness, .calendar {
  cursor: pointer;
  transition: all 0.33s ease-in;

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.33s ease-in;
    -moz-transition: all 0.33s ease-in;
    transition: all 0.33s ease-in;
  }
  &:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.refresh {
  -webkit-animation:spin 2s ease infinite;
  -moz-animation:spin 2s ease infinite;
  animation:spin 2s ease infinite;
  -webkit-transform-origin: 110px 110px;
  -moz-transform-origin: 110px 110px;
  transform-origin: 110px 110px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

// FUCK YOU SVG EXPORTS
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .picker {
    background: url('img/picker@2x.png') no-repeat center center;
    background-size: 100% 100%;
  }
}

@media only screen and (max-device-width: 600px) {
  .message {
    h2 {
      font-size: 1.5em !important;
    }
  }
}